html,
body {
	margin: 0.5%;
	padding: 0.5%;
	background-color: darkblue;
}

header {
	text-align: center;
}

.complemento {
	font-size: calc(2vw + 0.5vh + 0.2vmin);
	color: white;
}

a {
	text-align: center;
	text-decoration: none;
	afont-size: calc(1vw + 0.5vh + 0.2vmin);
	color: yellow;
}

.title {
	color: white;
	display: flex;
	justify-content: center;
	font-size: calc(2vw + 0.5vh + 0.2vmin);
}

.description {
	color: white;
	font-size: calc(1vw + 0.5vh + 0.2vmin);
	line-height: 2em;
	text-align: justify;
}
