p{
	color: black;
	font-size: calc(2vw + 0.5vh + 0.2vmin);
}

#main {
	background: url("./backgrounds/Love.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	margin-top: 0%;

	/* Set up positioning */
	position: absolute;
	left: 0;
}

.notes {
	justify-content: left;
	text-align: justify;
	margin-left: 2em;
	margin-right: 2em;
	display: inline-block;
	position: relative;
	background-color: black;
	line-height: 2em;
}
