#main {
	background: url("./backgrounds/Love.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	margin-top: 0%;

	/* Set up positioning */
	position: absolute;
	left: 0;
}

.notes {
	text-align: justify;
	margin-left: 3em;
	margin-right: 3em;
	display: block;
	position: relative;
	background-color: black;
	padding: 0.7%;
	font-size: calc(1vw + 0.5vh + 0.2vmin);
}

.message {
	background-color: black;
	color: yellow;
}

.evil {
	background-color: black;
	color: red;
}

.yin {
	background-color: black;
	color: white;
}
.yang {
	background-color: white;
	color: black;
}
.symb {
	background-color: black;
	color: yellow;
}
