a {
	color: white;
	text-decoration: none;
	text-align: center;
	align-content: center;
	align-self: center;
}

#main {
	padding: 0%;
	margin: 2%;
	font-size: larger;
	max-width: fit-content;
	text-align: justify;
}

h1 {
	text-align: center;
	color: aqua;
}
