.container {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: black;
}

.content {
	text-align: center;
}

.content p {
	background-color: black;
	line-height: 2em;
	display: inline;
}

footer a {
	color: white;
}

footer {
	text-align: center;
	color: yellow;
}
