.container {
  background-color:darkblue;
  text-align:center;
}

.player{
  margin:2%;
  padding:2.5%;
  display:flex;
}

.player iframe{
  display:flex;
  justify-content:space-between;
  text-align:justify;
}

.attention {
  color: gold;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  background-color: black;
  margin:2%;
}

.desc4 {
  color: yellow;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  background-color: black;
  margin:2%;
}

.box{
  text-align: justify;
}
.box p{
  font-size:42px;
  color:gray;
  padding:2%;
}

.box a{
  color:blue;
  background-color:white;
  text-decoration: none;
}

footer span {
  background-color: black;
  display: inline;
}

footer a {
  color:white;
  text-decoration: none;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: black;
}
.mensagem {
  text-align: justify;
  margin: 5rem; 
}

.mensagem p{
  font-size: 47px;
  color:orange; 
}

.red {
  color:red; 
}

