.container {
	background-color: black;
}

.content {
	text-align: center;
}

.content p {
	line-height: 2em;
	display: inline;
}

footer a {
	color: white;
	text-decoration: none;
}

footer {
	text-align: center;
	color: yellow;
}
