.container {
	background: url("../../backgrounds/") no-repeat no-repeat fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.player {
	text-align: center;
}

footer {
	display: block;
	text-align: center;
}

