#description {
	position: relative;
	width: 95%;
	margin-top: 3em;
	margin-left: 2rem;
	margin-right: 4rem;
	text-align: justify;
	line-height: 4em;
}

#description p {
	font-size: calc(2vw + 0.5vh + 0.2vmin);
	display: inline;
	background-color: black;
}

a {
	color: white;
}

.container {
	background: url("./backgrounds/VisionsOfThor.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	/* Set up positioning */
	position: absolute;
	left: 0;
}
