.container {
	min-width: 100%;
	min-height: 100%;
}

.content {
	display: block;
	text-align: center;
	margin: 5%;
	color: white;
}

.content p {
	flex-direction: column;
	line-height: 2em;
	font-size: x-large;
}

.player {
	text-align: center;
}

footer {
	text-align: center;
}

