.container {
	text-align: center;
	background: url("./backgrounds/MonkeyTouch.jpg") no-repeat no-repeat fixed;
	background-size: cover;

	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	margin-top: 0%;
	/* Set up positioning */
	position: absolute;
	left: 0;
}

#msg {
	margin-top: 5%;
	text-align: center;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
	font: 1em sans-serif;
}

#p1 {
	background-color: aqua;
	color: brown;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

#p2 {
	background-color: gray;
	color: aqua;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

#p3 {
	background-color: orangered;
	color: yellow;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

#p4 {
	background-color: black;
	color: white;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

#mplayer {
	text-align: center;
	margin-top: 2%;
}

.main {
	padding: 2em;
	margin-left: 2em;
	margin-right: 2em;
	text-align: justify;
}

.main p {
	background-color: black;
	display: inline;
	line-height: 2em;
}

