html,
body {
	margin: 0%;
	margin-top: 0%;
	padding: 0%;
	background-color: black;
}
header {
	text-align: center;
}
a {
	color: yellow;
	text-decoration: none;
}

nav {
	flex-flow: column wrap;
	align-content: center;
}

nav ul {
	top: 0;
	flex-direction: column-reverse;
}

nav li {
	list-style: none;
	display: inline;
}

.topmenus {
	display: flex;
	flex-direction: column nowrap;
	flex-flow: column nowrap;
	justify-content: space-between;
}

/* Tamanho das dos ICONS do site */
.tlinky {
	width: 60px;
	height: 60px;
}

.tlinkd {
	width: 60px;
	height: 60px;
}
.tlinkh {
	width: 60px;
	height: 60px;
}

#YinYang {
	float: left;
}

#Home {
	float: right;
	margin-right: 2em;
}

.container {
	background: url(https://firebasestorage.googleapis.com/v0/b/macaco-macaco.appspot.com/o/Backgrounds%2FMonkeyTouch.webp?alt=media);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

#msg {
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

#p1 {
	background-color: aqua;
	color: brown;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

#p2 {
	background-color: gray;
	color: aqua;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

#p3 {
	background-color: orangered;
	color: yellow;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

#p4 {
	background-color: black;
	color: white;
	display: inline;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
	margin: 5%;
}

#mplayer {
	text-align: center;
}

.main {
	padding: 0.5em;
	margin-left: 0.3em;
	margin-right: 0.3em;
	text-align: justify;
}

.main p {
	background-color: black;
	display: inline;
	line-height: 2em;
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
	color: cyan;
}
