<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>by OdicforceSounds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Expires" content="0" />
    <meta name="theme-color" content="#226DAA" />
    <meta name="title" content="by OdicforceSounds" />
    <meta name="subtitle" content="You Call it God, I Call it Dao" />
    <meta name="description" content=" by OdicforceSounds" />
    <meta name="DC.title" content="by OdicforceSounds" />
    <meta name="Classification" content="Business" />
    <meta name="distribution" content="Global" />
    <meta property="og:title" content="by Odicforcesounds" />
    <meta property="og:description" content="Digital Audio Track" />
    <meta property="og:type" content="music:album:track" />
    <meta property="og:image" content="." />
    <meta property="og:card" content="summary_large_image" />
    <meta property="og:image:alt" content="" />
    <meta property="og:url" content="https://art.odicforcesounds.com/pages/Data/Audio/" />
    <meta property="profile:username" content="odicforcesounds" />
    <meta name="keywords" content="OdicforceSounds, tao, dao, dreams, music, art, Challenge, Russia, Africa, Europa, America,
             India, Monkey, Electronic Dance Music, Experimental Electronic Music, Monkey Business, Portugal,
             Republic of China, Japan, Business, Improvisations, 道"
                    />
    <link type="text/css" rel="stylesheet" href="./index.css" />
    <!-- <meta http-equiv="content-security-policy" content="default-src https:" /> -->
  </head>
<body class="container">

  <div class="player">
    <iframe style="border: 0; width: 40%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=721308700/size=small/bgcol=333333/linkcol=0f91ff/track=2803423498/transparent=true/" seamless><a href="https://odicforcesounds.bandcamp.com/album/rakzhodekams-2">Rakzhodekams by odicforcesounds</a></iframe>
  </div>
  
  <article class="content">
    <p>
    
    </p>
  </article>
  
  <footer>
    <span>
      Go back to <a href="../../index.html">TITLE</a> by OdicforceSounds
    </span>
  </footer>

</body>
</html>
