.container {
	background: url(https://firebasestorage.googleapis.com/v0/b/macaco-macaco.appspot.com/o/Backgrounds%2FWeBringFire.webp?alt=media);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}
html,
body {
	margin: 0%;
	margin-top: 0%;
	padding: 0%;
	background-color: black;
}

.tlinky {
	width: 42px;
	height: 42px;
	top: 2em;
}

#main {
	font-size: calc(1.5vw + 1vh + 0.2vmin);
	position: relative;
	display: flex;
	flex-direction: row nowrap;
	width: max-content;
	margin-top: 0%;
}

#main div {
	text-align: center;
	padding: 0.7em;
	position: relative;
}

#main div a {
	position: relative;
	display: inline-flex;
	margin: 1em;
}

a {
	color: white;
	text-decoration: none;
	list-style: none;
}

.t1 {
	width: max-content;
	position: relative;
}

.t2 {
	width: max-content;
	position: relative;
}

.t3 {
	width: max-content;
	position: relative;
}

.t4 {
	width: max-content;
	position: relative;
}

.t5 {
	width: max-content;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	flex-flow: column-reverse;
}

#table {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-flow: row nowrap;
}

.tlinky {
	width: 42px;
	height: 42px;
}
