.container {
	background: url(https://firebasestorage.googleapis.com/v0/b/macaco-macaco.appspot.com/o/Backgrounds%2FWeBringFire.webp?alt=media);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}
html,
body {
	margin: 0%;
	margin-top: 0%;
	padding: 0%;
	background-color: black;
}

.tlinky {
	width: 42px;
	height: 42px;
	top: 2em;
}

a {
	color: white;
	text-decoration: none;
	list-style: none;
}

.t1 {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	text-align: center;
}

.be {
	display: inline;
	background-color: black;
	font-size: calc(3vw + 0.5vh + 0.2vmin);
	margin: 5%;
	line-height: 1em;
}
nav ul li {
	text-decoration: none;
	list-style-type: none;
}
