.container {
	background: url("../../backgrounds/a3887102955_10.jpg") no-repeat no-repeat
		fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.content {
	text-align: center;
}

footer {
	text-align: center;
}
