.container {
  position: relative;
  text-align: center;
  background-color: black;
}

.content {
  color: green;
  padding: 10%;
}

.content p{
  font-size: 1.5em;
}

.content a {
  text-decoration:none;
  color: white;
}

.slogan {
  color: yellow;
  margin-top: 5rem;
  font-size: 3em;
}

footer span {
  display: inline;
}

footer a {
  color: white;
  text-decoration: none;

}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
