.container {
  position: relative;
  background-color: black;
}

.titulo {
  color: lightgreen;
  text-align: center;
  font-size: 3em;
  padding: 1rem;
}

.container a {
  text-decoration: none;
  color: white;
}

.container p{
  text-align: justify;
  color: cyan;
  font-size: 2em;
}

footer span {
  display: inline;
}

footer a {
  color: yellow;
  text-decoration: none;

}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: black;
}
