html,
body {
  margin: 0%;
  padding: 0%;
}

.container {
  background: url(./YinYang.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

header {
  text-align: center;
}

nav ul li {
  text-decoration: none;
  list-style-type: none;
}

.content {
  position: relative;
  text-align: center;
  display: flex;
}

.sideR {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: -10%;
  margin-right: 5%;
}

.sideR p {
  text-align: center;
  background-color: black;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  line-height: 2rem;
}

.sideR a {
  text-decoration: none;
  justify-content: center;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: yellow;
}

.sideC {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sideC p {
  text-align: center;
  background-color: black;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  line-height: 2rem;
  margin-top: -10%;
}

.sideC a {
  text-decoration: none;
  justify-content: center;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sideL {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 5%;
}

.sideL p {
  text-align: center;
  background-color: black;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  line-height: 2rem;
}

.sideL a {
  text-decoration: none;
  justify-content: center;
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: yellow;
}

.center {
  text-align: center;
}

.player {
  height: 42px;
  width: 500px;
  border: none;
  margin-bottom: 15%;
  margin-top: 10%;
}

.articles {
  display: block;
  flex-direction: column;
  justify-content: center;
}

.tlinky {
  width: 46px;
  height: 46px;
}

.sideC {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sideC p {
  text-align: center;
  display: inline;
}

.sideC {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sideC span {
  display: inline;
  text-align: center;
}

footer span {
  color: cyan;
  background-color: black;
  display: inline;
}

.YY {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

.Tao {
  float: right;
  margin-right: 5%;
  margin-top: -2%;
  list-style-type: none;
  text-decoration: none;
}

.item {
  background-color: black;
}

.color-red{
  color:red;
}

.color-cyan{
  color:cyan;
}

.color-white{
  color:white;
}

.item a{
  color:none;
}

footer a {
  color: yellow;
  text-decoration: none;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  color: cyan;
  background-color: black;
  display: flex;
  flex-direction: column;
}
