.container {
	background: url("./backgrounds/YinYang.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	margin: 0%;

	/* Set up positioning */
	position: absolute;
	left: 0;
}

#main {
	margin-top: 4em;
}

#vt {
	display: flex;
	padding: 1rem;
	flex-direction: row;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

#vt a {
	color: yellow;
	background-color: black;
}

#mw {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

#mw a {
	color: yellow;
	background-color: black;
}

#st {
	display: flex;
	padding: 1rem;
	flex-direction: row;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

#st a {
	color: yellow;
	background-color: black;
}

#skd {
	display: flex;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
	padding: 1rem;
	flex-direction: row;
}

#skd a {
	color: yellow;
	background-color: black;
}

#ed {
	display: flex;
	padding: 1rem;
	flex-direction: row;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

#ed a {
	color: yellow;
	background-color: black;
}

#nf {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

#nf a {
	color: yellow;
	background-color: black;
}

#es {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

#es a {
	color: yellow;
	background-color: black;
}

#ot {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

#ot a {
	color: yellow;
	background-color: black;
}

#wb {
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
	padding: 1rem;
}

#left {
	display: flex-start;
	flex-direction: row;
	flex-flow: column nowrap;
	position: relative;
	float: left;
}

#right {
	display: flex-end;
	flex-direction: column;
	flex-flow: row nowrap;
	position: relative;
	float: right;
}

#upper {
	display: flex;
	flex-direction: row;
	flex-flow: column nowrap;
	position: relative;
	text-align: center;
}

#tao {
	float: right;
}

#Dao {
	text-align: center;
	position: relative;
}

.spiritual {
	text-align: center;
	margin-top: 2%;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

.spiritual a {
	background-color: black;
	color: yellow;
	font-size: calc(3.1vw + 0.7vh + 0.2vmin);
}

.player {
	text-align: center;
}

.player iframe {
	margin-top: 3em;
}

.foot {
	margin-top: 2rem;
}
