.container {
	background: url("../../backgrounds/BecauseWeLove.png") no-repeat no-repeat
		fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.player {
	text-align: center;
}

.content {
	margin-left: 4em;
	margin-right: 4em;
	text-align: center;
}

.content p {
	background-color: black;
	display: inline;
	line-height: 2em;
}

footer {
	margin-right: 4em;
	float: right;
}

.footer span {
	display: flex;
	font-size: calc(2vw + 0.5vh + 0.2vmin);
}

