.container {
	background: url("./backgrounds/Tao.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.content {
	text-align: center;
	margin-top: 4rem;
}

.content p {
	font-size: calc(2.5vw + 0.5vh + 0.2vmin);
}

footer {
	text-align: center;
}
