.container {
  background-repeat: no-repeat;
  background: url(./Magic_of_Fantasy.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

html,
body {
  margin: 0%;
  margin-top: 0%;
  padding: 0%;
  background-color: black;
}

.content {
  position: relative;
  width: 95%;
  margin-top: 3em;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.content p {
  font-size: calc(2vw + 0.5vh + 0.2vmin);
  display: inline;
  line-height: 4em;
  background-color: black;
  color: cyan;
  padding: 0.5%;
}

.player {
  text-align: center;
  margin-top: 10%;
}

a {
  color: yellow;
  text-decoration: none;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  color: cyan;
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer span {
  background-color: black;
  display: inline;
}