.container {
	background: url("../../backgrounds/HypnoticDance.jpg") no-repeat no-repeat
		fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.content {
	display: block;
	text-align: center;
	margin-top: 4em;
}

.content p {
	background-color: black;
	text-align: center;
	line-height: 2em;
	display: inline;
}

footer {
	text-align: center;
}

