html,
body {
  margin: 0%;
  margin-top: 0%;
  padding: 0%;
  background-color: black;
}

.container {
  background: url(./mystic.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

.content2 {
  position: relative;
  text-align: center;
}

.content2 h3 {
  text-align: center;
  font-size: 42px;
}

.content2 p {
  text-align: center;
  font-size: 32px;
  color:white;
}


.content {
  text-align: justify;
  margin: 1em;
}

.content p {
  font-size: calc(1vw + 0.5vh + 0.2vmin);
  line-height: 3em;
  line-break: 1em;
  background-color: black;
  color: cyan;
  padding: 0.5%;
  display: inline;
}


.center{
  text-align: center;
}

.player {
        height: 42px;
        width: 500px;
        border: none;
        margin-top:2rem; 
}

a {
  color: yellow;
  text-decoration: none;
}


footer span {
  color: cyan;
  background-color: black;
  display: inline;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  color: cyan;
  background-color: black;
  display: flex;
  flex-direction: column;
}
