.container {
	background: url("../../backgrounds/DeepThoughts.jpg") no-repeat no-repeat
		fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.player {
	text-align: center;
}

.content {
	text-align: center;
	display: block;
	margin-top: 10em;
}

.content p {
	background-color: black;
	line-height: 2em;
	display: inline;
}

footer {
	text-align: center;
}

