.container {
	background: url("../../backgrounds/AgainstTheGreed.jpg") no-repeat no-repeat
		fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.player {
	text-align: center;
}

footer {
	text-align: center;
}

