.top-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  z-index: 99;
}

.top-bar.fixed {
  position: fixed;
  -webkit-animation: slideDown 0.35s ease-out;
  animation: slideDown 0.35s ease-out;
  top: 0px;
  left: 0;
  right: 0;
  background-color: #7A9D72;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.top-bar nav.navbar {
  padding: 15px 20px;
  margin-top: 0px;
  background-color: #7A9D72;
  border-radius: 16px;
}

.top-bar.fixed nav.navbar {
  padding-left: 0;
  padding-right: 0;
}

.offcanvas-body .d-flex {
  gap: 20px;
}

.header-banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #194652;
  padding-top: 120px;
}

.header-banner .banner {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header-banner .banner img {
  width: 100%;
  height: auto;
}

.header-banner .container {
  z-index: 1;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-banner .banner:before {
  content: "";
  background-color: rgba(25, 70, 82, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header-banner .inner-caption {
  text-align: center;
  color: #FFFFFF;
}

.header-banner .inner-caption h1,
.header-banner .inner-caption p {
  color: #FFFFFF;
}

.header-banner .inner-caption h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-banner .inner-caption p {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 20px;
}

/*********Navigation*************/
.navbar-brand {
  max-width: 140px;
  padding: 0;
}

.top-bar.fixed .navbar-brand {
  max-width: 100px;
}

.navbar .navbar-nav .nav-link {
  padding: 15px 15px;
  color: #ffffff;
  font-weight: 500;
}

.navbar .navbar-nav li.nav-item {
  margin: 0px 5px;
}

.navbar .navbar-nav.navbar-nav-right li.nav-item {
  margin: 0;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #2E4629;
  background-color: transparent;
  text-shadow: 0px 1px 14px #2a3f26;
}

/************/
.section-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.headingtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.headingtitle h2 {
  color: #2E4629;
  margin-bottom: 0px;
}

.leaderboard-card {
  margin: 10px 0px;
  margin-top: 70px;
}

.leaderboard-card .card {
  padding: 40px 40px 15px;
  text-align: center;
  background: -webkit-linear-gradient(180deg, rgba(81, 122, 72, 1) 0%, rgba(46, 70, 41, 1) 100%);
  background: linear-gradient(180deg, rgba(81, 122, 72, 1) 0%, rgba(46, 70, 41, 1) 100%);
  color: #FFFFFF;
  background-position: top;
  background-size: 100% 200%;
  -webkit-transition: background-position 0.4s ease-in-out;
  transition: background-position 0.4s ease-in-out;
  box-shadow: 2px 4px 8px -4px #2E4629;
}

.leaderboard-card .card .card-body {
  padding: 0;
}

span.crown-icon {
  max-width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  margin: 0px auto 0px auto;
  background-color: #FFFFFF;
  margin-top: -80px;
  margin-bottom: 20px;
  border: 2px solid #507847;
}

.website-link,
.employees-text,
.category-text {
  display: block;
}

.leaderboard-card .card-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b4dcab36;
  margin-bottom: 15px;
  padding-top: 15px;
}

.leaderboard-card .card-row .employees-text b,
.leaderboard-card .card-row .category-text b {
  display: block;
  font-weight: 600;
  font-size: 16px;
}

.leaderboard-card.gold {
  margin-top: 0px;
}

.company-name {
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  color: #FFF;
}

.employees-text,
.category-text {
  text-align: left;
  font-size: 14px;
}

.website-link {
  border-top: 1px solid #b4dcab36;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #b4dcab36;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-bottom: -15px;
}

.website-link a {
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.website-link a:hover {
  color: #2E4629;
}

.card-table {
  overflow: hidden;
}

.card-table .card-body {
  padding: 0;
}

.card-table table.table {
  margin-bottom: 0;
}

.viewbutton {
  width: 100%;
  text-align: center;
  height: 0;
  position: relative;
  z-index: 1;
}

.viewbutton .btn {
  margin-top: -95px;
}

.footer-wrap {
  background-color: #2e4629;
  padding-top: 40px;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #7a9d72;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-top {
  padding-top: 20px;
  padding-bottom: 20px;
}

.foot-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px 40px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.foot-links ul>li>a {
  text-decoration: none;
  color: #FFFFFF;
  FONT-WEIGHT: 600;
}

.foot-links ul>li>a:hover {
  color: #afc4aa;
}

ul.footsocial {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin: 0;
  gap: 20px;
}

ul.footsocial>li>a {
  color: #FFFFFF;
}

ul.footsocial>li>a:hover {
  color: #afc4aa;
}

.footer-bottom p {
  margin-bottom: 0px;
  color: #FFF;
  font-weight: 400;
}

/**************/
.maintitle {
  padding: 0px 0px 15px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dde6db;
}

.contentwrap .inner-content {
  padding-left: 30px;
}

.features-item .card {
  box-shadow: none;
  border: 1px solid #dde6db;
  border-radius: 0;
  height: 100%;
  background-color: #dde6db;
}

.features-item .card .card-body {
  padding: 20px;
}

.features-item .card h5 {
  font-size: 16px;
}

p:last-child {
  margin: 0;
}

.contentwrap .features h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

/**********/
@media (max-width: 1539px) {
  .contentwrap .inner-content {
    padding-left: 0px;
  }
}

@media (max-width: 1399px) {
  .leaderboard-card .card {
    padding: 40px 28px 15px;
  }

  .website-link {
    width: calc(100% + 56px);
    margin-left: -28px;
  }

  .contentwrap .inner-content {
    padding-left: 0px;
  }
}

@media (max-width: 1199px) {
  .navbar-brand {
    max-width: 116px;
  }

  .header-banner {
    padding-top: 108px;
  }

  .leaderboard-card .card {
    padding: 40px 20px 15px;
  }

  .website-link {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .imgwrap .imginner {
    height: 100%;
  }

  .imgwrap .imginner>img {
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

}

@media (max-width: 991px) {
  .leaderboard-card {
    margin-top: 0;
    order: 2;
  }

  .leaderboard-card.gold {
    order: 1;
    margin: 0px 50% 20px 50%;
  }

  .viewbutton .btn {
    margin-top: 0;
  }

  .viewbutton {
    margin-top: 20px;
    margin-bottom: 40px;
    height: auto;
  }

  .navbar-toggler {
    background: -webkit-linear-gradient(180deg, rgba(81, 122, 72, 1) 0%, rgba(46, 70, 41, 1) 100%);
    background: linear-gradient(180deg, rgba(81, 122, 72, 1) 0%, rgba(46, 70, 41, 1) 100%);
    color: #FFFFFF;
    background-position: top;
    background-size: 100% 200%;
    -webkit-transition: background-position 0.4s ease-in-out;
    transition: background-position 0.4s ease-in-out;
    border: 2px solid #afc4aa;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus,
  .navbar-toggler:active {
    color: #FFFFFF;
    background-position: bottom;
    -webkit-transition: background-position 0.4s ease-in-out;
    transition: background-position 0.4s ease-in-out;
    box-shadow: none;
  }

  .offcanvas-body .d-flex {
    flex-wrap: wrap;
  }

  .offcanvas-body .d-flex .navbar-nav {
    width: 100%;
  }

  .text-bg-dark {
    background-color: #2e4629 !important;
  }

  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: #ffffff;
    background-color: #507847;
    text-shadow: none;
  }

  .navbar .navbar-nav li.nav-item {
    margin: 10px 0px;
  }

  .offcanvas-header {
    position: absolute;
    left: -50px;
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #507847;
  }

  .offcanvas-header button.btn-close.btn-close-white {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0;
  }

  .navbar-nav-right .btn {
    width: 100%;
  }

  .navbar .navbar-nav.navbar-nav-right li.nav-item {
    margin: 10px 0px;
  }

  .offcanvas-body .d-flex .navbar-nav.navbar-nav-right {
    border-top: 1px solid #7a9d72;
    padding-top: 20px;
  }

  .offcanvas.offcanvas-end {
    width: 100%;
    max-width: 300px;
  }

  .imgwrap .imginner>img {
    height: auto;
  }

  .imgwrap {
    order: 2;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .leaderboard-card {
    margin-top: 50px;
    order: 2;
  }

  .leaderboard-card.gold {
    order: 1;
    margin: 0px 0 10px 0;
  }

  .foot-links ul {
    gap: 20px 24px;
  }
}

@media (max-width: 575px) {
  .footer-bottom .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-wrap {
    padding-top: 20px;
  }

  .footer-bottom p {
    width: 100%;
    text-align: center;
  }

  .offcanvas.offcanvas-end {
    max-width: 270px;
  }
}