.container {
	text-align: center;
	position: relative;
}

.content {
	text-align: center;
	display: block;
}

.content p {
	background-color: black;
	line-height: 2em;
	display: inline;
}

footer {
	text-align: center;
}

.player {
	text-align: center;
}

