html,
body {
  margin: 0%;
  margin-top: 0%;
  padding: 0%;
  background-color: black;
}

.container {
  background-image: url(./time.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

.content {
  position: relative;
  margin-bottom: 5rem;
  text-align: center;
}

.content p {
  font-size: calc(2vw + 0.5vh + 0.2vmin);
  display: inline;
  line-height: 4em;
  background-color: black;
  color: cyan;
  padding: 0.5%;
}
.center{
  text-align: center;
}

.player {
        height: 42px;
        width: 600px;
        border: none;
        margin-top:2rem; 
}

.content a {
  color: yellow;
  text-decoration: none;
}

footer span {
  color: cyan;
  background-color: black;
  display: inline;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer a {
  color: yellow;
  text-decoration: none;
}
