 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=1" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Expires" content="0" />
<meta name="theme-color" content="#226DAA" />
<meta name="title" content="by OdicforceSounds" />
<meta name="subtitle" content="You Call it God, I Call it Dao" />
<meta name="description" content=" by OdicforceSounds" />
<meta name="DC.title" content="by OdicforceSounds" />
<meta name="Classification" content="Business" />
<meta name="distribution" content="Global" />
<meta property="og:title" content="by Odicforcesounds" />
<meta property="og:description" content="Digital Audio Track" />
<meta property="og:type" content="music:album:track" />
<meta property="og:image" content="." />
<meta property="og:card" content="summary_large_image" />
<meta property="og:image:alt" content="" />
<meta property="og:url" content="https://art.odicforcesounds.com/pages/Data/Audio/" />
<meta property="profile:username" content="odicforcesounds" />
<meta name="keywords" content="OdicforceSounds, tao, dao, dreams, music, art, Challenge, Russia, Africa, Europa, America,
	 India, Monkey, Electronic Dance Music, Experimental Electronic Music, Monkey Business, Portugal,
	 Republic of China, Japan, Business, Improvisations, 道"
		/>
<link type="text/css" rel="stylesheet" href="./index.css" />
<!-- <meta http-equiv="content-security-policy" content="default-src https://bandcamp.com" style-src 'self' /> -->

<meta http-equiv="content-security-policy" content="script-src 'self' https://bandcamp.com; frame-src https://bandcamp.com; sandbox allow-forms allow-scripts" />


.center{
  text-align: center;
}

.player {
        height: 42px;
        width: 600px;
        border: none;
        margin-top:2rem; 
}
