.container {
	background: url("./backgrounds/PathOfShelds.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

a {
	color: yellow;
}

.t1 {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	text-align: center;
	font-size: calc(1vw + 0.5vh + 0.2vmin);
}

.t1 .belove {
	display: inline;
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
}
.t1 .bewarrior {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .bepossess {
	display: inline;
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
}
.t1 .bepower {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .befire {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .benature {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .behipnotic {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .beneed {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .beillusion {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .bedeep {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .begreed {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .bedigital {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .be69 {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .befeel {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .bemusic {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .bebo {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .be3 {
	display: inline;
	margin: 4.5%;
	padding: 0.6%;
	background-color: black;
}
.t1 .beunion {
	background-color: black;
	margin: 4.5%;
	display: inline;
	padding: 0.6%;
}
.t1 .betools {
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
	display: inline;
}
.t1 .beeternal {
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
	display: inline;
}
.t1 .bedo {
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
	display: inline;
}
.t1 .beuniverse {
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
	display: inline;
}
.t1 .beminutes {
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
	display: inline;
}
.t1 .bedod {
	background-color: black;
	margin: 4.5%;
	padding: 0.6%;
	display: inline;
}
