.container {
	background: url("./backgrounds/PathOfShelds.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	margin: 0;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

#main {
	margin-left: 0%;
	/* Safari */
}

#main div {
}

#main div a {
	font-size: calc(3vw + 0.5vh + 0.2vmin);
}

a {
	color: yellow;
}

.t1 {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	margin-top: 1rem;
	font-size: calc(2vw + 0.5vh + 0.2vmin);
}

.t1 .belove {
	padding: 5%;
}
.t1 .bewarrior {
	padding: 5%;
}
.t1 .bepossess {
	padding: 5%;
}
.t1 .bepower {
	padding: 5%;
}
.t1 .befire {
	padding: 5%;
}
.t1 .benature {
	padding: 5%;
}
.t1 .behipnotic {
	padding: 5%;
}
.t1 .beneed {
	padding: 5%;
}
.t1 .beillusion {
	padding: 5%;
}
.t1 .bedeep {
	padding: 5%;
}
.t1 .begreed {
	padding: 5%;
}
.t1 .bedigital {
	padding: 5%;
}
.t1 .be69 {
	padding: 5%;
}
.t1 .befeel {
	padding: 5%;
}
.t1 .bemusic {
	padding: 5%;
}
.t1 .bebo {
	padding: 5%;
}
.t1 .be3 {
	padding: 5%;
}
.t1 .beunion {
	padding: 5%;
}
.t1 .betools {
	padding: 5%;
}
.t1 .beeternal {
	padding: 5%;
}
.t1 .bedo {
	padding: 5%;
}
.t1 .beuniverse {
	padding: 5%;
}
