html {
	margin: 0;
	padding: 0;
	background-color: #333;
}

.container {
	background: url("./backgrounds/a3887102955_10.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

a {
	color: white;
	text-decoration: none;
	text-align: center;
	align-content: center;
	align-self: center;
}
