.container {
	display: flex;
	flex-direction: row nowrap;
	flex-flow: wrap;
	position: relative;
	justify-content: space-between;
	background-color: black;
}

.container p {
	text-align: justify;
}
.intro {
	display: flex;
	position: relative;
	flex-direction: column nowrap;
	flex-flow: column nowrap;
	max-width: 560px;
	margin: 0.5%;
	padding: 1%;
	background-color: darkcyan;
}

.intro h3 {
	text-align: center;
	background-color: black;
	color: cadetblue;
}

.desc {
	background-color: black;
	max-width: 560px;
	color: white;
	font-size: calc(1wv, 0.5hv, 0.5wv);
	padding: 0.5%;
}

header {
	width: 100%;
	color: white;
}

header p {
	display: flex;
	justify-content: center;
}
h1 {
	text-align: center;
	background-color: black;
	color: white;
}

a {
	color: yellow;
	text-decoration: none;
}
