.container {
	display: flex;
	flex-direction: row nowrap;
	flex-flow: wrap;
	position: relative;
	justify-content: space-evenly;
	background-color: black;
}

.container p {
	text-align: justify;
}
.intro {
	display: flex;
	position: relative;
	flex-direction: column nowrap;
	flex-flow: column nowrap;
	max-width: 460px;
	justify-content: space-around;
	padding: 1%;
	background-color: darkcyan;
}

.intro h1 {
	background-color: black;
	color: cadetblue;
	font-size: small;
}

.desc {
	background-color: black;
	max-width: 560px;
	color: white;
	font-size: calc(1wv, 0.5hv, 0.5wv);
	padding: 0.5%;
}

header {
	width: 100%;
	color: white;
}

header p {
	display: flex;
	justify-content: center;
}
h1 {
	text-align: center;
	background-color: black;
	color: white;
}

a {
	color: yellow;
	text-decoration: none;
}

.togCheck {
	display: none;
}
.togContent {
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	transition: max-height 1s;
}

.togCheck:checked + .togContent {
	max-height: 100vh; /* any insanely large number if a lot of contents */
	opacity: 1;
	visibility: visible;
}
/* (X2) TOGGLE BUTTON */
.togButton {
	display: block;
	width: 97%;
	padding: 10px;
	color: #fff;
	background: #00409f;
	cursor: pointer;
}

/* (X3) CONTENT */
.togContent {
	background: #f4f6ff;
}
.togContent p {
	padding: 50px 10px;
	margin: 0;
}
