.container {
	min-width: 100%;
	min-height: 100%;
}
.content {
	text-align: center;
	display: block;
	margin: 2em;
}
.content p {
	display: inline;
	background-color: black;
	line-height: 4em;
}
.player {
	text-align: center;
}
footer {
	text-align: center;
}
