.container {
	display: flex;
	flex-direction: row nowrap;
	flex-flow: wrap;
	position: relative;
	padding: 0.9em;
}

.container p {
	text-align: justify;
}

.slogan {
	display: inline;
	position: sticky;
	text-align: center;
	margin: 1.4%;
	padding: 0.6%;
}
.intro {
	display: flex;
	position: relative;
	flex-direction: row nowrap;
	flex-flow: row wrap;
	max-width: 560px;
	margin: 0.5%;
	padding: 1%;
	background-color: dodgerblue;
}

.intro h3 {
	text-align: center;
	background-color: aliceblue;
}

.desc {
	background-color: lemonchiffon;
	color: blue;
	font-size: calc(10%, 40%, 100%);
	padding: 0.6%;
}
