.container {
	background: url("../../backgrounds/DarkWarrior.jpg") no-repeat no-repeat fixed;
	background-size: cover;
	/* Set up proportionate scaling */
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.content {
	margin-left: 4em;
	margin-right: 4em;
	text-align: center;
}

.player {
	text-align: center;
}

.content p {
	background-color: black;
	line-height: 2em;
	display: inline;
}

