.container {
	background: url("../Expression/backgrounds/Tree_of_life.jpg") no-repeat
		no-repeat fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.content {
	text-align: center;
}

.signals {
	background-color: black;
}

header {
	margin-bottom: 14em;
}

nav {
	margin-right: 8em;
}

#Dao img {
	background-color: black;
	padding: 0.1em;
}
